.contacts {
  grid-column-start: 2;
  padding: 20px;
  height: 100%;
  overflow: auto;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 22px;

  height: 100%;

  overflow: scroll;
}
