.info {
  padding-top: 58px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.info__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.info__head__avatar {
  width: 72px;
  height: 79px;

  border-radius: 10px;
  overflow: hidden;
}

.info__head__avatar > img {
  width: 100%;
  height: 100%;
}

.info__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  width: 100%;
}

.info__nav {
  display: flex;
  background-color: var(--secondary-color);
  border-radius: 10px;

  position: relative;
  z-index: 0;
}

.info__nav__active {
  position: absolute;
  background-color: var(--primary-color);
  width: 103px;
  height: 30px;
  border-radius: 10px;
  z-index: 1;

  right: 50%;
  left: 50%;
  transform: translateX(-150%);
  transition: transform 0.1s ease-out;
}

.info__nav__title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 103px;
  height: 30px;

  z-index: 2;
  cursor: pointer;
}

.detail {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 38px;

  width: 100%;
  height: 110px;
  padding: 0px 15px;
}

.detail--show {
  display: flex;
}

.detail__line {
  width: 100%;
  max-width: 328px;
  display: flex;
  justify-content: space-between;
}

.detail__left {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.detail .detail__right {
  width: 44px;
  height: 35px;
  border-radius: 4px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.detail__line--phone .detail__right {
  background-color: rgba(137, 242, 166, 0.66);
}

.detail__line--email .detail__right {
  background-color: rgba(242, 225, 137, 0.66);
}

.info__buttons {
  display: flex;
  gap: 22px;
}

.info__buttons > button {
  width: 77px;
}
